.error {
    min-width: 300px;
    max-width: 600px;
    margin: auto auto;
    text-align: right;
    font-family: "Typora", sans-serif;
    padding: 20px;
}

.error__emoji {
    font-size: 8rem;
    text-align: left;
}

.error__header {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.error__link {
    text-align: left;
    display: block;
    margin: 2rem auto;
    color: #474747;
}