* {
    box-sizing: border-box;
}

button, a[role=button] {
    display: block;
    width: fit-content;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.075rem;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f4;
    font-size: 12px;
  }
  
  main, nav {
    max-width: 2000px;
    margin:auto;
  }
  
  p {
    margin: 0;
  }
  
  div.text--error {
    margin-bottom: 10px;
  }
  
  a {
    color: inherit;
  }
  
  
  hr {
    width: 80%;
    margin: 1rem auto;
  }
  
  main {
    padding: 5px;
    min-height: 80vh;
  }
  
  .text--uppercase {
    text-transform: uppercase;
  }
  
  .text--bold {
    font-weight: bold;
  }
  
  .text--error {
    color: red;
  }

  
  @media screen and (min-width: 425px) {
    body {
      font-size: 14px !important;
    }
  }

  @media screen and (min-width: 768px) {
  
    main {
    width: 90%;
    margin: auto;
  
    }
}

  @media screen and (min-width: 1024px) {
    body {
      font-size: 16px !important;
    }
  }
  