.form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 90%;
  max-width: 400px;
  margin: auto auto;
  padding: 20px;
}

.form input,
.form textarea,
.form select {
  margin-bottom: 0.5rem;
  border: none;
  min-height: 30px;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form textarea {
  resize: none;
  height: 150px;
  font-family: inherit;
}
