.button--primary {
    background-color: #202020;
    color: #f4f4f4;
    outline: none;
    border: none;
    transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
}

.button--primary:hover {
    background-color: #3EB489;
    color: #f4f4f4;
}

.button--primary:focus-visible {
    background-color: white;
    color: #202020;
    border: 2.5px solid blue;
    transition: background-color 0ms;
    -webkit-transition: background-color 0ms;
    -moz-transition: background-color 0ms;
    -ms-transition: background-color 0ms;
    -o-transition: background-color 0ms;
}